.main {
  width: 1200px;
  margin: auto;
  padding-top: 30px; }
  .main__settings-button {
    display: block;
    margin-left: 30px;
    padding: 7px 20px;
    background-color: #d26c22;
    color: #ecf0f1;
    border: none;
    border-radius: 7px; }
    .main__settings-button:hover {
      color: #4e4d4a; }

    .weather-space {
      display: flex;
      flex-direction: row;
    }
